/* menu */
.el-menu:not(.el-menu--inline) {
  padding-bottom: 10px;
}

.el-menu--horizontal.el-menu {
  height: 65px !important;
}

.el-menu-item,
.el-sub-menu__title {
  margin: 10px 0 0 10px !important;
  height: 45px !important;
  border: none !important;
  border-radius: 10px !important;
}

.el-menu--vertical .el-menu-item {
  margin: 8px 0 0 10px !important;
}

.el-menu-item-group__title {
  margin-bottom: -8px;
}

.el-sub-menu__title:hover,
.el-menu-item.is-active {
  background-color: var(--el-menu-hover-bg-color) !important;
}

.el-menu--popup {
  border-radius: 10px !important;
  padding: 0 10px 10px 0 !important;
}

.el-menu--popup-container {
  margin-top: 12px;
  border-bottom: none !important;
}

.el-popper.is-light:not(.el-select__popper):not(.el-popover):not(.el-cascader__dropdown):not(.el-picker__popper):not(:has(.el-cascader__collapse-tags)):not(:has(.el-select__selection)) {
  border: none !important;
  background: none !important;
}

.el-menu--vertical {
  padding-right: 10px;
}

.el-popper.is-light .el-popper__arrow:before {
  border: 2px solid var(--el-border-color) !important;
}

/* Input */
.el-input {
  height: 40px !important;
  font-size: 16px !important;
}

.el-textarea__inner {
  min-height: 40px !important;
  font-size: 16px !important;
  border: 2px solid var(--el-border-color) !important;
  border-radius: 10px !important;
  box-shadow: none !important;
}

.el-input__wrapper {
  box-shadow: none !important;
  border: 2px solid var(--el-border-color);
}

.el-input__inner {
  padding-left: 5px !important;
}

.el-select .el-input.is-focus .el-input__wrapper {
  box-shadow: none !important;
}

.el-input-group--prepend>.el-input__wrapper {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.el-input-group__prepend {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-left: 2px solid var(--el-border-color) !important;
}

.el-input-group--append>.el-input__wrapper {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.el-input-group__append {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-right: 2px solid var(--el-border-color) !important;
}

.el-input-group__append,
.el-input-group__prepend {
  border-width: 2px 0 2px 0;
  border-top: 2px solid var(--el-border-color) !important;
  border-bottom: 2px solid var(--el-border-color) !important;
  box-sizing: border-box;
  box-shadow: none !important;
}

/* Input Number */
.el-input-number__decrease {
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-right-width: 2px !important;
  top: 2px !important;
  bottom: 2px !important;
  left: 2px !important;
}

.el-input-number__increase {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border-left-width: 2px !important;
  top: 2px !important;
  bottom: 2px !important;
  right: 2px !important;
}

/* Select */
.el-vl__wrapper {
  padding: 10px 10px 10px 0 !important;
}

.el-vl__window {
  width: 100% !important;
}

.el-select__wrapper {
  box-shadow: none !important;
  border: 2px solid var(--el-border-color);
  height: 40px !important;
}

.el-popper {
  border: 2px solid var(--el-border-color) !important;
  border-radius: 10px !important;
}

.el-select-dropdown__list {
  margin: 0 !important;
  padding: 12px 10px 10px 0 !important;
  background: #fff;
  border-radius: 10px !important;
}

.el-select-dropdown__item {
  margin: 0px 0 0 10px;
  border-radius: 8px !important;
  height: 35px !important;
}

.el-select-dropdown__item.selected {
  color: #15803d !important;
}

/* Button */
.el-button:not(.el-button--small) {
  height: 40px !important;
  padding: 8px 20px !important;
}

.el-button--small {
  height: 34px !important;
  padding: 8px 20px !important;
}

.el-button-group>.el-button {
  margin-left: -2px !important;
}

/* Card */
.el-card {
  box-sizing: border-box !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  border: none !important;
  border: 2px solid #E4E7ED !important;
}

.el-card__header {
  border-bottom-width: 2px !important;
}

/* Alert */
.el-alert {
  padding: 15px !important;
  box-shadow: none !important;
  border-radius: 10px !important;
}

.el-alert__title.with-description {
  font-weight: bold;
}

/* Carousel */
.el-carousel {
  border-radius: 10px !important;
}

/* Pagination */
.el-pagination>.btn-next,
.el-pagination>.btn-prev,
.el-pager>.number,
.el-pager>.more {
  height: 40px !important;
  width: 40px !important;
  font-size: 15px !important;
  border-radius: 10px !important;
}

.el-pagination>.btn-next:hover,
.el-pagination>.btn-prev:hover,
.el-pager>.number:not(.is-active):hover,
.el-pager>.more:hover {
  font-weight: bold;
  color: #15803d !important;
}

.el-pager>.is-active {
  background-color: #15803d !important;
}

/* Upload */
.el-upload-dragger {
  border-radius: 10px !important;
  border-width: 3px !important;
  border-style: dotted !important;

  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.el-upload-dragger:hover {
  border-color: #15803d !important;
}

.el-upload__tip,
.el-upload-list {
  margin-top: 0 !important;
}

/* Step */
.el-step__title.is-finish,
.el-step__head.is-finish {
  color: #15803d !important;
}

.el-step__line-inner {
  border-color: #2a9458 !important;
}

.el-step__icon-inner {
  display: inline-flex !important;
}

/* Tabs */
.el-tabs--left .el-tabs__item.is-left {
  height: 50px !important;
}

.el-tabs--border-card {
  border: 2px solid #E4E7ED !important;
  border-radius: 10px !important;
}

.el-tabs__header {
  border-radius: 8px 8px 0 0 !important;
}

#tab-first,
.el-tabs__nav-scroll {
  border-top-left-radius: 10px !important;
}

.el-tabs--left .el-tabs__item.is-left {
  height: 50px !important;
}

.el-tabs__active-bar {
  background-color: #146E3B !important;
  border-radius: 1000px;
}

.el-tabs--border-card > .el-tabs__header .el-tabs__item {
  border-bottom-width: 2px !important;
}

/* Collapse */
.el-collapse {
  border-top-width: 2px !important;
}

.el-collapse-item__header {
  border-bottom-width: 2px !important;
}

/* Link */
.el-link--primary {
  color: #15803d !important;
}

.el-link--primary:hover::after {
  border-color: #15803d !important;
}

/* Dialog */
.el-dialog {
  border-radius: 10px !important;
}

@media only screen and (max-width: 700px) {
  .el-dialog {
    max-width: 800px !important;
    width: calc(100% - 40px) !important;
  }
}

.el-dialog__header {
  margin-right: 0 !important;
}

/* Back to top */
.el-backtop {
  box-sizing: border-box;
  width: 60px !important;
  height: 60px !important;
  border-radius: 10px !important;
  background-color: rgb(232, 241, 236) !important;
  color: #15803d !important;
}

/* Message */
.el-message {
  border-radius: 10px !important;
  height: 60px;
  border-width: 2px !important;
}

.el-message__content {
  font-size: 16px !important;
}

.el-notification {
  border: var(--el-border);
}

/* Date Picker */
.el-date-editor {
  height: 40px !important;
  box-sizing: border-box;
  max-width: 100%;
}

.el-picker-panel__sidebar {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.el-picker-panel__sidebar {
  border-right-width: 2px !important;
}

/* Descriptions */
.el-descriptions__label {
  font-weight: bold;
}

/* Checkbox */
.el-checkbox__inner:after {
  left: 3.2px !important;
  top: 0 !important;
}

/* Divider */
.el-divider--horizontal {
  border-top: var(--el-border) !important;
}

/* Cascader */
.el-cascader-node {
  border-radius: 10px;
  padding-right: 10px !important;
}

.el-cascader-menu__list {
  padding: 8px !important;
}

.el-cascader-menu {
  border-right-width: 2px !important;
}

.el-cascader-node__label {
  margin-right: 10px;
}

/* Badge */
.el-badge__content {
  border: none !important;
}

/* Icon */
.el-icon {
  height: 1.2em !important;
  width: 1.2em !important;
  margin-bottom: -2.6px !important;
}

/* Tag */
.el-check-tag {
  transition: none !important;
}