:root {
  --el-color-primary: #217e4b;
  --el-border-radius-base: 8px;
  --el-border-width: 2px;
  --el-checkbox-height: 35px;
  --el-popper-border-radius: 10px;
  --el-popover-border-radius: 10px;
}

.el-card {
  --el-card-padding: 18px !important;
}

.el-tag--primary,
.el-check-tag--primary {
  --el-color-primary: #409EFF;
}