:root {
  --el-color-primary: #15803d !important;
  --el-border-radius-base: 8px !important;
  --el-border-width: 2px !important;
  --el-checkbox-height: 35px !important;
  --el-popper-border-radius: 10px !important;
  --el-popover-border-radius: 10px !important;
  --el-menu-level-padding: 12px !important;
}

.admin-nav {
  --el-menu-bg-color: #f1f5f5 !important;
  --el-menu-hover-text-color: var(--el-text-color-primary) !important;
  --el-menu-hover-bg-color: #dbe1e0 !important;
  --el-menu-active-color: var(--el-text-color-primary) !important;
  --el-menu-active-bg-color: #dbe1e0 !important;
}

.el-card {
  --el-card-padding: 18px !important;
}

.el-badge {
  --el-badge-padding: 10px !important;
  --el-badge-size: 22px !important;
  --el-badge-font-size: 13px !important;
}

.el-tag {
  --el-tag-font-size: 13.5px !important;
}

.el-tag--primary,
.el-check-tag--primary,
.el-button {
  --el-color-primary: #409EFF !important;
}
